In [1]:
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv("noor_weather_data.csv")
data['Timestamp'] = pd.to_datetime(data['Timestamp'])

In [3]:
data_num = data.select_dtypes(include=['datetime', np.number]).dropna(
    axis=1, how='all').interpolate().ffill().bfill().set_index('datim')
date_range_10_min = pd.date_range(start=data['datim'].min(), SSend=data['datim'].max(), freq='10T')

In [52]:
# final_df = pd.DataFrame(index=date_range_10_min).join(data_num, how='outer').ffill(limit=9).bfill(limit=9)
final_df = pd.DataFrame(index=date_range_10_min).join(data_num, how='outer').ffill(limit=5).bfill(limit=5).interpolate()
final_df = final_df.reset_index().rename(columns={'index': 'datim'})

In [55]:
final_df.to_csv('D:/Projects/weather_data/noor_weather_data_10min_numeric_only.csv', index=False)

In [53]:
final_df.head(20)

,datim,T,Po,P,Pa,U,Ff,ff10,ff3,Tn,Tx,VV,Td,tR
0,2019-01-01 00:00:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
1,2019-01-01 00:10:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
2,2019-01-01 00:20:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
3,2019-01-01 00:30:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
4,2019-01-01 00:40:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
5,2019-01-01 00:50:00,7.9000,762.9000,769.8000,0.900,71.000,2.0,10.0,16.0,2.8,23.0,10.0,3.0000,12.0
6,2019-01-01 01:00:00,7.6625,762.9875,769.8875,0.875,71.125,2.0,10.0,16.0,2.8,23.0,10.0,2.7875,12.0
7,2019-01-01 01:10:00,7.4250,763.0750,769.9750,0.850,71.250,2.0,10.0,16.0,2.8,23.0,10.0,2.5750,12.0
8,2019-01-01 01:20:00,7.1875,763.1625,770.0625,0.825,71.375,2.0,10.0,16.0,2.8,23.0,10.0,2.3625,12.0
9,2019-01-01 01:30:00,6.9500,763.2500,770.1500,0.800,71.500,2.0,10.0,16.0,2.8,23.0,10.0,2.1500,12.0
10,2019-01-01 01:40:00,6.7125,763.3375,770.2375,0.775,71.625,2.0,10.0,16.0,2.8,23.0,10.0,1.9375,12.0
11,2019-01-01 01:50:00,6.4750,763.4250,770.3250,0.750,71.750,2.0,10.0,16.0,2.8,23.0,10.0,1.7250,12.0
12,2019-01-01 02:00:00,6.2375,763.5125,770.4125,0.725,71.875,2.0,10.0,16.0,2.8,23.0,10.0,1.5125,12.0
13,2019-01-01 02:10:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
14,2019-01-01 02:20:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
15,2019-01-01 02:30:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
16,2019-01-01 02:40:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
17,2019-01-01 02:50:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
18,2019-01-01 03:00:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0
19,2019-01-01 03:10:00,6.0000,763.6000,770.5000,0.700,72.000,2.0,10.0,16.0,2.8,23.0,10.0,1.3000,12.0